h1 {
    text-align: center;
    color: #63a260;
}

h3 {
    color: hsl(110, 86%, 22%);
}

div {
    margin: 40px;
    padding: 50px;
    background-color: rgb(208, 160, 160);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

span, a {
    margin: 0 10px;
    text-decoration: none;
    color: #498cce;
}